.entire-card {
  background: linear-gradient(#5e63b6, #a393eb, #f5c7f7);
  border-radius: 20px;
  font-family: "Taviraj", serif;
  max-width: 800px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
ul {
  list-style: none;
}
#description-element {
  text-transform: capitalize;
}
.currentWeatherSection {
  margin-top: 30px;
}
.todayTemp {
  text-align: center;
}
#main-temp {
  font-size: 28px;
}
.current-emoji {
  text-align: center;
  font-size: 22px;
}
.githubLink {
  text-align: center;
}
#units {
  font-size: 14px;
}
#units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
#units .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}
#celsius {
  text-decoration: none;
}
#fahrenheit {
  text-decoration: none;
}
