.entire-card {
  background: linear-gradient(#5e63b6, #a393eb, #f5c7f7);
  border-radius: 20px;
  font-family: "Taviraj", serif;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.todayTemp {
  text-align: center;
}
.emoji {
  text-align: center;
}
.highAndLow {
  text-align: center;
}
.floatRight {
  color: rebeccapurple;
  position: relative;
  top: -70px;
  left: 300px;
  display: block;
}
.todayTemp {
  font-size: 22px;
}
