.entire-card {
  background: linear-gradient(#5e63b6, #a393eb, #f5c7f7);
  border-radius: 20px;
  font-family: "Taviraj", serif;
  max-width: 800px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
ul {
  list-style: none;
}
.todayTemp {
  text-align: center;
}
#main-temp {
  font-size: 22px;
}
.current-emoji {
  text-align: center;
  font-size: 22px;
}
.githubLink {
  text-align: center;
}
#units {
  font-size: 14px;
}
